* {
  text-align: center;
  background-color: rgb(36, 35, 35);
  color: white;
}

#timeCount {
  border: 2px solid white;
  height: 40px;
  width: 150px;
  font-size: 40px;
  margin-top: 50px;
}

#current-time {
  font-size: 30px;
  margin-top: 30px;
}